{% extends "base.html" %}

{% block main_content %}
<section id="about">
<p>We are <i>{{title}}</i>, established in 2023 to meet the market's needs!</p>
<p>Our current development team comprises of 1 developer.</p>
<p>As a leading investment platform, we take pride in our record low transactions fees to maximise 
    your earnings during your time here. In fact, we don't know how we'll make a profit. That's a problem for future me!</p>
<p>Want to contact us? Email us at <a href="mailto: noreply@pyramidinvestments.com">noreply@pyramidinvestments.com</a> and we guarantee a reply in 2 business days.</p>
</section>
{% endblock %}