{% extends "base.html" %}

{% block main_content %}
{% if user %}
    <p>Hello {{user.name}}! These are your stats.</p>
    <p>Net worth: €{{ user.net_worth }}</p>
    <p>Cash: €{{ user.cash }}</p>
    {% if graph %}
    <figure>
        {{ graph|safe }}
    </figure>
    {% endif %}
    {% if stocks|length > 0 %}
    <p> These are your current investments. Carefully monitor them here.</p>
    <table>
        <tr>
            <th>Stock Name</th>
            <th>No. of Stocks</th>
            <th>Latest Price</th>
            <th>Total Value</th>
        </tr>
        {% for stock in stocks %}
        <tr>
            <td><a href="{{ url_for('stock', uuid=stock['uuid'])}}">{{ stock["name"] }}</a></td>
            <td>{{ stock["total"] }}</td>
            <td>€{{ stock["value"] }}</td>
            <td>€{{ stock["net_worth"] }}</td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
{% else %}
<p>No transactions</p>
{% endif %}
{% endblock %}