{% extends "base.html" %}

{% block main_content %}
<p>Browse through stocks and explore our array of features that we offer at no extra cost</p>
{% if stocks %}
    {% for stock in stocks %}
        <section>
            <h3>
                {{ stock.name }}
            </h3>
            <p> The stock price was updated {{ stock.time }} minutes ago. </p>
            <p> {{ stock.name }} is currently worth €{{ stock.valuation }}. </p>
            <p>There are {{ stock.share_count }} shares in circulation, giving {{ stock.name }} a market value of €{{ stock.market_value }}. </p>
        </section>
    {% endfor %}
{% endif %}
{% endblock %}