{% extends "base.html" %}

{% block main_content %}
<p>Browse through stocks and explore our array of features that we offer at no extra cost</p>
<section id="stocklist">
    {% if stocks %}
    {% for stock in stocks %}
    <section class="stockwrapper">
        <a href="{{ url_for('stock', uuid=stock.uuid) }}">
        <section class="stockdisplay">
            <h3>
                {{ stock.name }}
            </h3>
            <p>Share price: €{{ stock.valuation }} </p>
            <p>Share count: {{ stock.share_count }} </p>
            <p>Market Value:</p>
            <p>€{{ stock.market_value }}</p>
        </section>
        </a>
    </section>
    {% endfor %}
    {% endif %}
</section>
{% endblock %}