{% extends "base.html" %}

{% block main_content %}
<p>{{ name }}</p>
{% if graph %}
<figure>
    {{ graph|safe }}
</figure>
{% endif %}
<form method="POST" action="" novalidate>

    {{ BuyForm.hidden_tag() }}
    {{ BuyForm.quantity_buy.label() }}
    {{ BuyForm.quantity_buy() }}
    {% for error in BuyForm.quantity_buy.errors %}
    {{ error }}
    {% endfor %}
    {{ BuyForm.submit_buy() }}
</form>
{% if net_stock != 0 %}
    <form method="POST" action="" novalidate>

        {{ SellForm.hidden_tag() }}
        {{ SellForm.quantity_sell.label() }}
        {{ SellForm.quantity_sell() }}
        {% for error in SellForm.quantity_sell.errors %}
            {{ error }}
        {% endfor %}

        {{ SellForm.submit_sell() }}
    </form>
{% endif %}
{% endblock %}